SAMBA_REALM=ad.hatbuinho.me
SAMBA_DOMAIN=forlittle
SAMBA_HOSTNAME=dc1
SAMBA_HOST_IP=
SAMBA_INTERFACES=lo tailscale0
SAMBA_ADMIN_PASSWORD=ChangeMe-Use-A-Strong-Password-123!
SAMBA_DNS_FORWARDER=1.1.1.1
SAMBA_LOG_LEVEL=1
